.typeahead {
  --color-surface--500: #ffffff;
  --box-radius--500: 4px;
  --elevation--500: 0 7px 10px rgba(0, 0, 0, .05);

  border: 1px solid #DBDBDB;
  border-radius: var(--box-radius--500);
  box-shadow: var(--elevation--500);
  position: relative;
}

.typeahead input[type="text"] {
  border-color: transparent;
  border-radius: var(--box-radius--500);
  display: block;
  font-size: 1.1rem;
  font-weight: bold;
  padding: .75rem .75rem;
  width: 100%;
  z-index: 1;
}

.typeahead__sheet {
  background-color: var(--color-surface--500);
  border: 1px solid #DBDBDB;
  border-top: 0;
  border-bottom-left-radius: var(--box-radius--500);
  border-bottom-right-radius: var(--box-radius--500);
  box-shadow: var(--elevation--500);
  left: -1px;
  margin-top: -1px;
  max-height: 15rem;
  position: absolute;
  right: -1px;
}

.typeahead__sheet__body {
}

.typeahead__match {
  list-style: none;
  margin: 0;
  padding: 0;
}

.typeahead__match__entry {
  font-size: 1.1rem;
  padding: .85rem .76rem;
}

.typeahead__match__entry--highlighted {
  background-color: rgba(0, 0, 0, .03);
}

.typeahead__match__entry--highlighted b {
  color: #f95e4d;
}
